<section class="section">
  <div class="container">
    <% if user_signed_in? %>
      <h1 class="title">
        Your purchased videos
      </h1>
      <p class="delete-notice">
        Please note that video renders are deleted after 30 days.<br>
        The json data will be kept until deletion.
      </p>
      <% for video in @videos %>
        <div class="columns">
          <div class="column">
            <div class="purchased-video"
                 style="background-image:url(<%= @settings['downloadables_url'] %>/<%= video.videoid %>/0000000.png);">

            </div>
          </div>
          <div class="column video-actions">
            <p class="subtitle">Actions</p>
            <a href="<%= @settings['downloadables_url'] + "/#{video.videoid}/purchased-video-#{video.videoid}.avi" %>"
               class="button is-primary">
              Download .AVI video
            </a>
            <p class="subtitle">Advanced</p>
            <a href="<%= @settings['downloadables_url'] + "/#{video.videoid}/data.json" %>"
               download="purchased-data-<%= video.videoid %>.json"
               class="button">
              Download JSON source
            </a>
            <p class="subtitle">Delete</p>
            <p>This action is irreversible. Video and data will be deleted.</p>
            <a href="/purchased_videos/<%= video.videoid %>/delete"
               class="button is-danger">
              Delete Video
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
